/* You can add global styles to this file, and also import other style files */
#themecolors .selector .link {
    cursor: pointer;
}

.link {
    cursor: pointer ;
}

.link:hover {
    color: white !important;
}

.avatar {
    height: 200px;
    width: 200px;
}

.w200 {
    width: 200px;
}

.icon-avatar {
    width: 60px;
    border-radius: 100%;
}